pip install farm-haystack['all-gpu']
pip install farm-haystack['pinecone']
pip install farm-haystack['PDFToTextConverter']
pip install farm-haystack[ocr]
wget --no-check-certificate https://dl.xpdfreader.com/xpdf-tools-linux-4.04.tar.gz
tar -xvf xpdf-tools-linux-4.04.tar.gz && sudo cp xpdf-tools-linux-4.04/bin64/pdftotext /usr/local/bin